/* line 5, ../sass/app.scss */
body {
  padding-bottom: 60px;
}

/* line 13, ../sass/app.scss */
.table-full-width {
  width: 100%;
}

/* line 17, ../sass/app.scss */
.btn-border {
  border: 1px solid #ddd;
  padding: 40px 30px;
  background: white;
}
/* line 22, ../sass/app.scss */
.btn-border i {
  font-size: 24px;
  margin: 8px 0px;
}

/* line 28, ../sass/app.scss */
.btn-border:hover {
  background: #428bca;
  color: white;
}

/* line 33, ../sass/app.scss */
.custom-nav-tabs {
  border-bottom: none;
}

/* line 39, ../sass/app.scss */
.pdt-sidebar ul.nav {
  margin-bottom: 20px;
}

/* line 44, ../sass/app.scss */
.underline {
  text-decoration: underline;
}

/* 
 * -------------------------------------------------------
 * pdt-grid layout 
 * -------------------------------------------------------
 */
/* line 55, ../sass/app.scss */
.pdt-grid-layout {
  display: table;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  content: "";
  width: 100%;
  border: 1px solid #ddd;
}
/* line 64, ../sass/app.scss */
.pdt-grid-layout .pdt-grid-cell {
  padding: 10px;
  display: inline-block;
  width: 33.33%;
  border-right: 1px solid #ddd;
  background: white;
  border-bottom: 1px solid #ddd;
  position: relative;
}
/* line 74, ../sass/app.scss */
.pdt-grid-layout .pdt-grid-cell:hover {
  background: #f3f3f3;
}
/* line 78, ../sass/app.scss */
.pdt-grid-layout .pdt-grid-cell:nth-child(3n+3) {
  border-right: 0px;
  width: 33.44%;
}
/* line 83, ../sass/app.scss */
.pdt-grid-layout .pdt-grid-cell:nth-last-child(-n+1), .pdt-grid-layout .pdt-grid-cell:nth-last-child(-n+2), .pdt-grid-layout .pdt-grid-cell:nth-last-child(-n+3) {
  border-bottom: 0px;
}

/* line 88, ../sass/app.scss */
.pdt-grid-cell > .pdt {
  height: 410px;
  overflow: hidden;
}
/* line 92, ../sass/app.scss */
.pdt-grid-cell > .pdt section {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}
/* line 97, ../sass/app.scss */
.pdt-grid-cell > .pdt section:last-child {
  border-bottom: 0px;
}
/* line 101, ../sass/app.scss */
.pdt-grid-cell > .pdt .figure {
  height: 250px;
  overflow: hidden;
  padding: 0;
  border-bottom: 0px;
}
/* line 107, ../sass/app.scss */
.pdt-grid-cell > .pdt .figure img {
  width: 100%;
  height: auto;
}
/* line 116, ../sass/app.scss */
.pdt-grid-cell > .pdt .caption p.title {
  font-size: 14px;
  color: #444;
  margin-bottom: 0px;
}
/* line 122, ../sass/app.scss */
.pdt-grid-cell > .pdt .caption p.price {
  font-size: 14px;
}
/* line 128, ../sass/app.scss */
.pdt-grid-cell > .pdt .count-down table > thead > tr > th {
  font-size: 20px;
}
/* line 132, ../sass/app.scss */
.pdt-grid-cell > .pdt .count-down table td {
  font-size: 13px;
  color: #999;
}
/* line 139, ../sass/app.scss */
.pdt-grid-cell > .pdt .bid-price h3 {
  font-size: 20px;
  margin: 4px 0;
}
/* line 145, ../sass/app.scss */
.pdt-grid-cell > .pdt p {
  margin-bottom: 4px;
}

/* 
 * -------------------------------------------------------
 * pdt-nav-stacked 
 * -------------------------------------------------------
 */
/* line 157, ../sass/app.scss */
.pdt-nav-stacked li > a {
  color: #333;
}
/* line 160, ../sass/app.scss */
.pdt-nav-stacked li > a i {
  color: #666;
}
/* line 166, ../sass/app.scss */
.pdt-nav-stacked li.active > a i {
  color: white;
}

/* 
 * -------------------------------------------------------
 * page 
 * -------------------------------------------------------
 */
/* line 178, ../sass/app.scss */
.page {
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 40px;
}
/* line 189, ../sass/app.scss */
.page div.pdt-image-upload form {
  width: 100%;
  border: 1px dotted #ddd;
  padding: 10px;
}
/* line 196, ../sass/app.scss */
.page div.pdt-image-upload form .thumbnail {
  margin-bottom: 10px;
}
/* line 200, ../sass/app.scss */
.page div.pdt-image-upload form section.msg {
  margin: 80px 0;
}
/* line 203, ../sass/app.scss */
.page div.pdt-image-upload form section.msg p.pin {
  font-size: 36px;
  color: #aaa;
}

/* line 214, ../sass/app.scss */
.form-group div.col-sm-1 button.btn {
  display: block;
  width: 100%;
}

/* line 220, ../sass/app.scss */
.bootstrap-tagsinput {
  margin: 0;
}

/* line 224, ../sass/app.scss */
.container {
  max-width: 760px;
}

/* line 228, ../sass/app.scss */
.navbar-auth {
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* 
 * -------------------------------------------------------
 * steps
 * -------------------------------------------------------
 */
/* line 239, ../sass/app.scss */
.steps {
  width: 100%;
  padding: 4px;
  background: #f9f9f9;
  display: table;
  content: "";
  border-radius: 4px;
}
/* line 247, ../sass/app.scss */
.steps .steps-list {
  background: white;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}
/* line 253, ../sass/app.scss */
.steps section {
  border-right: 1px solid #e3e3e3;
  padding: 16px;
  display: inline-block;
  width: 33%;
}
/* line 259, ../sass/app.scss */
.steps section strong {
  padding: 4px 16px 4px 4px;
  font-size: 24px;
  color: #bbb;
}
/* line 265, ../sass/app.scss */
.steps section p {
  margin-bottom: 2px;
  font-size: 16px;
  color: #bbb;
}
/* line 271, ../sass/app.scss */
.steps section span {
  color: #bbb;
}
/* line 276, ../sass/app.scss */
.steps section:last-child {
  border-right: none;
}
/* line 283, ../sass/app.scss */
.steps section.active strong {
  color: #3f94c5;
}
/* line 287, ../sass/app.scss */
.steps section.active p, .steps section.active span {
  color: #333;
}

/* 
 * -------------------------------------------------------
 * conditional list
 * -------------------------------------------------------
 */
/* line 299, ../sass/app.scss */
.conditional-list {
  margin-top: 24px;
  background: #f9f9f9;
  border-radius: 4px;
  padding: 4px;
}
/* line 305, ../sass/app.scss */
.conditional-list .conditional-list-panel {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  background: white;
}
/* line 310, ../sass/app.scss */
.conditional-list .conditional-list-panel hr {
  margin: 4px 0;
}
/* line 314, ../sass/app.scss */
.conditional-list .conditional-list-panel .list {
  padding: 16px;
  list-style: none;
  margin: 4px 0 0;
  font-size: 16px;
  color: #666;
}
/* line 321, ../sass/app.scss */
.conditional-list .conditional-list-panel .list .conditional {
  margin-bottom: 8px;
}
/* line 323, ../sass/app.scss */
.conditional-list .conditional-list-panel .list .conditional i {
  color: #6ec337;
}
/* line 328, ../sass/app.scss */
.conditional-list .conditional-list-panel .list .conditional:last-child {
  margin-bottom: 0px;
}
/* line 333, ../sass/app.scss */
.conditional-list .conditional-list-panel .list:last-child {
  margin-bottom: 10px;
}

/* 
 * -------------------------------------------------------
 * form sign in 
 * -------------------------------------------------------
 */
/* line 348, ../sass/app.scss */
input.ng-invalid:focus,
textarea.ng-invalid:focus,
select.ng-invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

/* line 357, ../sass/app.scss */
input.ng-valid:focus,
textarea.ng-valid:focus,
select.ng-valid:focus {
  border-color: #468847;
  -webkit-box-shadow: 0 0 6px #c8ffc1;
  -moz-box-shadow: 0 0 6px #c8ffc1;
  box-shadow: 0 0 6px #c8ffc1;
}

/* line 365, ../sass/app.scss */
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

/* line 369, ../sass/app.scss */
.form-signin .checkbox {
  font-weight: normal;
}

/* line 374, ../sass/app.scss */
.form-signin .form-control,
.form-signup .form-control {
  position: relative;
  background: #f8fdff;
  font-size: 14px;
  height: auto;
  padding: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 388, ../sass/app.scss */
.form-signin .upper-group .input-group-addon,
.form-signin .bottom-group .input-group-addon,
.form-signin .mid-group .input-group-addon {
  border-left: none;
  background: white;
}
/* line 391, ../sass/app.scss */
.form-signin .upper-group .input-group-addon i,
.form-signin .bottom-group .input-group-addon i,
.form-signin .mid-group .input-group-addon i {
  width: 26px;
  font-size: 18px;
}

/* line 398, ../sass/app.scss */
.form-signin .mid-group {
  margin-top: -1px;
}
/* line 400, ../sass/app.scss */
.form-signin .mid-group input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 407, ../sass/app.scss */
.form-signin .bottom-group {
  margin-top: -1px;
}
/* line 409, ../sass/app.scss */
.form-signin .bottom-group input {
  border-top-right-radius: 0;
}

/* line 414, ../sass/app.scss */
.form-signin .upper-group .input-group-addon {
  border-bottom-right-radius: 0;
}

/* line 418, ../sass/app.scss */
.form-signin .mid-group .input-group-addon {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 423, ../sass/app.scss */
.form-signin .bottom-group .input-group-addon {
  border-top-right-radius: 0;
}

/* line 427, ../sass/app.scss */
.form-signin .form-control:focus {
  z-index: 2;
}

/* line 431, ../sass/app.scss */
.form-signin .upper-group {
  margin-bottom: -1px;
}
/* line 434, ../sass/app.scss */
.form-signin .upper-group input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 440, ../sass/app.scss */
.form-signin .forgot-password {
  padding: 16px;
}
