extends ../layouts/auth

block content
  .setup(ng-app="Stallket.Signup")
    section(ng-controller="SignupCtrl")
      h1 Join Stallket
      p.lead 即時銷售你的商品，快速建立你的事業
      <hr>
      .row
        .col-sm-12
          .steps
            .steps-list
              section(ng-class="{active: step == 1}")
                strong.pull-left 1.
                p 塡寫基本資料
                span Account
              section(ng-class="{active: step == 2}")
                strong.pull-left 2.
                p 商戶聯絡資料
                span Profile 
              section(ng-class="{active: step == 3}")
                strong.pull-left 3.
                p 選擇服務
                span Service
      .row
        section.col-sm-12
          .alert.alert-danger(ng-repeat="alert in alerts") 
            {{alert.msg}}
            button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
      .row
        section.clearfix(ng-show="step == 1")
          .col-sm-7

            .form-signup(name="form")
              h3.form-signup-heading
                | 註冊帳號 
              .form-group
                label.control-label(for='email') 電郵
                input.form-control(type='email', name="email", ng-model="email", required)
                span(class="help-block") 電郵地址會作為登入帳號，請確實塡寫
                span(class="help-block" ng-show="!!form.email.$error.email") 電郵格式不正確
              .form-group
                label.control-label(for='password') 密碼
                input.form-control(type='password', name="password", ng-model="password", ui-validate=" {length:'$value.length >= 6'} ", required)
                span(class="help-block" ng-show="!!form.password.$error.length") 密碼長度必須為六或以上
              .form-group
                label.control-label(for='confirm_password') 重複密碼
                input.form-control(type='password', name="confirm_password", ng-model="confirm_password", ui-validate=" '$value==password' "
  ui-validate-watch=" 'password' ", required)
                span(class="help-block" ng-show="!!form.confirm_password.$error.validator") 密碼不相符
              hr
              p 當你按下一步時，即你同時同意我們的 
                a(href="#")用戶條款
              hr
              button.btn.btn-primary(ng-click="next()") 下一步

          .col-sm-5
            .conditional-list
              .conditional-list-panel
                ul.list
                  li.conditional
                    strong 立即最大化你的收益
                hr
                ul.list
                  li.conditional
                    i.fa.fa-check 
                    span  為你商品快速構建專頁
                  li.conditional
                    i.fa.fa-check 
                    span  自由銷售，不設限制
                  li.conditional
                    i.fa.fa-check 
                    span  費用全免
        section.clearfix(ng-show="step == 2")
          .col-sm-7
            .form-signup(name="editForm", ng-submit="create()")
              h3.form-signup-heading
                | 補充你的聯絡資料 
              .form-group
                label.control-label(for='username') 用戶暱稱
                input.form-control(type='text', name="username", ng-model="editForm.username" required)
                span(class="help-block") 在Stallket顯示的用戶名稱
              .form-group
                label.control-label(for='name') 稱呼
                input.form-control(type='text', name="name", ng-model="editForm.name" required)
                span(class="help-block") 例如 Peter Wong, 陳先生等
              .form-group
                label Contacts:
                  a(href='', ng-click='addContact()') add
                  div(ng-repeat='contact in editForm.contacts')
                    select(ng-model='contact.type')
                      option email
                      option phone
                      option pager
                      option IM
                    input(type='text', ng-model='contact.value', required='required')
                    a(href='', ng-click='removeContact($index)') X


                
              hr
              p 當你按下一步時，即你同時同意我們的 
                a(href="#")用戶條款
              hr
              button.btn.btn-primary(type='submit', ng-click="") 下一步

          .col-sm-5
            .conditional-list
              .conditional-list-panel
                ul.list
                  li.conditional
                    strong 立即最大化你的收益
                hr
                ul.list
                  li.conditional
                    i.fa.fa-check 
                    span  為你商品快速構建專頁
                  li.conditional
                    i.fa.fa-check 
                    span  自由銷售，不設限制
                  li.conditional
                    i.fa.fa-check 
                    span  費用全免


