extends ../layouts/auth

block content
  form.form-signin(action="/users/session", method="post")
    input(type='hidden', name='_csrf', value="#{csrf_token}")
    h3.form-signin-heading 用戶登入
    .input-group.upper-group
      input.form-control(type='text', name="email", placeholder='電郵', required='required', autofocus='autofocus')
      span.input-group-addon
        i.fa.fa-envelope
    .input-group.bottom-group
      input.form-control(type='password', name="password", placeholder='密碼', required='required')
      span.input-group-addon
        i.fa.fa-key
    label.checkbox.pull-left
      input(type='checkbox', value='remember-me')
      | 記住我
    button.btn.btn-lg.btn-primary.btn-block(type='submit') 登入
    p.text-center.forgot-password
      a(href='#') 忘記用戶密碼?
      | or
      a(href='join') 立即註冊

