!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    .wrapper
      header
        nav.navbar.navbar-auth(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Stallket
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
              ul.nav.navbar-nav.navbar-right
      .container
        block content
      .push
    
    include ../includes/footer
    include ../includes/foot